---
layout: page
title : Controller
header : Post Archive
group: navigation
---
{% include JB/setup %}

<!-- {% assign posts_collate = site.posts %}
 -->
 <!-- {% include JB/posts_collate %}
 -->
 <h3>Introduction</h3>
 <p>The facility within the application that directs traffic, on the one hand querying the models for specific data, and on the other hand organizing that data (searching, sorting, massaging it) into a form that fits the needs of a given view.

This subsystem is implemented in ActionController which is a data broker sitting between ActiveRecord (the database interface) and ActionView (the presentation engine).
</p>
 
<h3>Rails Guides</h3>
<ul>
 	<li class="shift"><a href = "http://guides.rubyonrails.org/action_controller_overview.html">Action Controller Overview</a></li>
</ul>
