---
layout: page
title: Scaffolding
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<!-- <ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>
 -->

<!-- {% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
 -->

<h3>Introduction</h3>
<p>
</p>



<h3>Tutorials</h3>

<ul>

   <li class = "shift"><a href = "http://curriculum.railsbridge.org/curriculum/curriculum">Rails Bridge . Beginner Curriculum</a> </li>
</ul> 



<!-- <ul>
  <li class = "shift">RailsCasts Active Model</li><br><iframe width="420" height="315" src="//www.youtube.com/embed/1O5kL7z--T4" frameborder="0" allowfullscreen></iframe>
  <li class = "shift"><a href="http://schneems.com/ut-rails">The course</a></li>
</ul>
 -->