---
layout: page
title: Views
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<!-- <ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul> -->


<h3>Introduction</h3>

<p>A presentation of data in a particular format, triggered by a controller's decision to present the data. They are script based templating systems like JSP, ASP, PHP and very easy to integrate with AJAX technology.

This subsystem is implemented in ActionView library which is an Embedded Ruby (ERb) based system for defining presentation templates for data presentation. Every Web connection to a Rails application results in the displaying of a view.</p>

<!-- {% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

 -->
 <h3>Rails Guides</h3>
 <ul>

 <li class = "shift"><a href="http://guides.rubyonrails.org/action_view_overview.html">Action View Overview</a></li>
</ul>

<!-- <iframe width="420" height="315" src="http://media.railscasts.com/assets/episodes/videos/219-active-model.mp4" frameborder="0" allowfullscreen></iframe>
 -->

